<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose</title>
</head>
<body>
    <%- include('partials/header'); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="">Title</label> <br>
        <input type="text" name="composeName" id="composeN"> <br>
        <label for="">Post</label><br>
        <input type="text" name="composeText" id="composeT"><br>
        <button class="publishButton" type="submit"> Publish </button>
    </form>
    <%- include('partials/footer'); -%>
</body>
</html>